@font-face {
  font-family: "Cascadia";
  src: url("/fonts/CascadiaCode.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: "siddur";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/SiddurOCGX.woff2") format("woff2");
}

.font-siddur {
  display: inline-block;
  margin-top: -0.4em;
  font-weight: 700;
  font-variation-settings: "wght" var(--siddur-weight), "wdth" var(--siddur-width);
}

:root {
  --siddur-weight: 600;
  --siddur-width: 100;
}
