.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.slideIn-enter-active,
.slideIn-leave-active {
  transition: all 0.5s ease-in;
}
.slideIn-enter,
.slideIn-leave-active {
  opacity: 0;
  transform: translateX(10px);
}
